.last-chance {
  margin-top: 200px;
  margin-bottom: 100px;
}

.last-chance__slider {
  height: 468px;
  /* overflow: visible; */
}

.last-chance::before {
  content: '';
  position: absolute;
  width: 815px;
  height: 545px;
  background: #faece9;
  margin-top: -73px;
  margin-left: -153px;
}

.last-chance__block-item {
  position: relative;
  background: #fff;
  margin-top: 25px;
  margin-right: 31px;
  width: 209px;
  cursor: pointer;
}

.add-block {
  display: none;
  width: 100%;
  height: 58px;
}

.last-chance__block-item:hover .add-block {
  display: flex;
  position: relative;
  background: #303032;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.08px;
  text-transform: uppercase;
}

/*
.last-chance__block-item::after {
  content: 'Купить';
  position: absolute;
  display: none;
  width: 100%;
  height: 58px;
}

.last-chance__block-item:hover.last-chance__block-item::after {
  display: flex;
  position: absolute;
  background: #303032;
  bottom: 0;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.08px;
  text-transform: uppercase; */

/* top: 0; */

/* } */

.last-chance__block-item:last-child() {
  margin-right: 0;
}

.last-chance__block-item-info {
  position: absolute;
  top: 26px;
  height: 40px;
  margin: auto;
}

.last-chance__block-item-info .row {
  align-items: baseline;
}

.last-chance__block-item-info-title {
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  height: 29px;
}

.last-chance__block-item-info-price {
  color: #303032;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  margin-left: 25px;
  margin-right: 6px;
}

.last-chance__block-item-info-nonprice {
  color: #979798;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: line-through;
}

.last-chance__block-item-img {
  height: 252px;
  margin-top: 103px;
}

.last-chance__block-item-img img {
  position: absolute;
  height: inherit;
}

.last-chance__slider .swiper-slide {
  top: 25px;
}

.last-chance__slider-pagination {
  position: absolute;
  z-index: 10;
  top: 10px;
}

div.swiper-pagination.last-chance__slider-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0;
  z-index: 1;
}

.last-chance__slider .swiper-pagination-bullets .swiper-pagination-bullet {
  display: inline;
  border-radius: 0;
  margin-right: 50px;
  background-color: transparent;
}

.last-chance__slider .swiper-pagination-bullets .swiper-pagination-bullet-active {
  text-decoration: underline;
}

.last-chance__slider .swiper-pagination {
  text-align: left;
}

.last-chance.container {
}
