.novelty {
  margin-top: 120px;
}

.novelty-title {
  color: #303032;
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}

.novelty-title::after {
  content: '';
  display: block;
  width: 90px;
  height: 4px;
  background: #303032;
  margin-top: 7px;
}

.novelty-left,
.novelty-right {
  width: 50%;
}

.novelty-left {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding-right: 30px;
}

.novelty-left__item {
  position: relative;
  width: 100%;
  height: 289px;
  background: #fff;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 3%);
  text-align: center;
}

.novelty-name {
  position: absolute;
  width: 100%;
  height: 28px;
  display: flex;
  bottom: 39px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.novelty-price {
  position: absolute;
  width: 100%;
  height: 39px;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 7px;
}

.novelty-left__item:nth-child(1) {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
}

.novelty-left__item:nth-child(2) img {
  width: 175px;
  height: 169px;
  margin-top: 20px;
}

.novelty-left__item:nth-child(3) img {
  width: 202px;
  height: 226px;
  margin-top: 1px;
}

.novelty-left__item:nth-child(4) img {
  width: 270px;
  height: 198px;
  margin-top: 1px;
}

.novelty-right__item {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

.novelty-right__item img {
  width: 490px;
  height: 466px;
}

.novelty-name {
  position: absolute;
  width: 100%;
  height: 28px;
  display: flex;
  bottom: 39px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.novelty-price {
  position: absolute;
  width: 100%;
  height: 39px;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 7px;
}
